* {
    font-family: 'Roboto', cursive;}

body {
    background-color: black;
}

.canvas-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.start {
    background-image: url(../images/intro-bg.gif);
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: right;
}

.playing {
    background-color: rosybrown;
}

.gameOver {
    background-color: black;
}

canvas {
    border: 1px solid black;
    
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btn {
    font-size: larger;
    margin-top: 30px;
    border: none;
    height: 50px;
    width: 150px;
}

.btn:hover{
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 50%;
}

.tryAgain {
    position: absolute;
    top: 31%;
    left: 43%; 
}