* {
    font-family: 'Supermercado One';}

body {
    background-color: black;
}

.canvas-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.start {
    background-image: url("../images/intro-bg.gif");
    background-repeat: no-repeat;
    background-size: 101%;
    background-position: right;
}

.playing {
   background-image: url("../images/floor.png");
    background-color: white;
    cursor: none;
}

.gameOver {
    background-color: black;
}

canvas {
    border: 1px solid black;
    
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.btn {
    font-size: larger;
    margin-top: 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: 50px;
    width: 150px;
}

.btn:hover{
    cursor: pointer;
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 25%;
    left: 50%;
}

.tryAgain {
    position: absolute;
    top: 31%;
    left: 43%; 
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}